<!DOCTYPE html>
<ul class="item-list cart--item-list">
    <li *ngFor="let item of getCartKeysAsArray()">
        <img class="cart--item-icon" src="{{getItemPic(item)}}" alt="{{item.name}}" />
       <div class="itemdiv"> <p>{{item.name}}</p>
        <p class ="smallerPriceFont">{{item.price | currency:'GBP'}} x {{cart.get(item)}}</p>
    </div>
        <button (click)="removeItem(item)" class="quantity-btn remove-btn center">-</button>
        <span class="quantity-text center">{{cart.get(item)}}</span>
        <button (click)="addItem(item)" class="quantity-btn add-btn center">+</button>
    </li>
</ul>